.galeria-wrapper {
  border: 1px solid #c9c9c9;
  position: relative;
}

.galeria-button {
  position: absolute;
}

.galeria-button-bottom-right {
  bottom: 10px;
  right: 10px;
}

.galeria-button-top-left {
  top: 10px;
  left: 10px;
}

.galeria-button button {
  border: none;
  outline: none;
  background-color: #ffbe47;
  color: #161616;
  padding: 7px 12px;
  margin: 4px;
}

.galeria-button button:focus,
.galeria-button button:hover {
  border: none;
  outline: none;
  background-color: #161616;
  color: #ffbe47;
}

.galeria-panel-item {
  display: none;
  width: 100%;
  padding: 0 auto;
  text-align: center;
}

.galeria-panel-item img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.show-galeria-panel {
  display: block !important;
}
