.navbar-top {
  background-color: #ececec;
  display: block;
  height: 100px;
  position: relative;
}

.navbar-top h1 {
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  padding-top: 20px;
  height: 100%;
}

.navbar-top .home-link {
  color: #161616;
  text-decoration: none;
}

.navbar-top .home-link:hover {
  text-decoration: none;
}

.navbar-logo {
  position: absolute;
  top: 14px;
}

.navbar-ham {
  position: absolute;
  right: 20px;
  top: 20px;
}

.navbar-ham button span {
  position: relative;
  top: -2px;
  margin-left: 4px;
}

.navbar-list {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: #1a1a1a;
  height: 100vh;
  z-index: 5;
  color: #ffffff;
  display: none;
}

.nav-menu {
  margin-top: 25px;
}

.nav-menu ul {
  margin-top: 9px;
}

.nav-menu li {
  line-height: 22px;
}

.nav-menu h2 {
  text-transform: capitalize;
  font-size: 15px;
}

.nav-close-menu {
  background: none;
}

.nav-close-menu:hover svg {
  fill: #e7e7e7;
}

.nav-menu-open {
  display: block;
}
